
    .burgerNav{
        background-color: $color-4;
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        z-index: 99;
        
        ul{
            background-color: $colorWhite;
            width: 90%;
            height: 100%;
            padding: 100px 0;
            position: relative;
            .fa-xmark{
                color: black;
                font-size: 20px;
                position: absolute;
                top: 5%;
                right: 5%;
            }
            li{
                border-bottom:1px solid $color-5 ;
                padding: 10px 20px;
                a{
                    color: $color-1;
                    @include Font($size: 16px,$weight: 500, $lineHeight: 2em);
                    font-family: 'Hind',sans-serif;
                }
                .burgerCartBar {
                    @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 30px);
                    @include Tablet(){
                        @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 10px);
                    }
        
                    .login {
                        @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 20px);
                        
                        i {
                            color: $color-2;
                            font-size: 18px;
                            @include Tablet(){
                                font-size: 14px;
                            }
                            cursor: pointer;
                        }
                        @include Tablet(){
                            gap: 10px;
                        }
                    }
        
                    .mainShop {
                        @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 0px);
                        cursor: pointer;
                        bdi {
                            color: $color-0;
                            @include Font($size: 15px, $weight: 700, $lineHeight: 30px);
                        }
        
                        .cart {
                            position: relative;
                            i {
                                color: $color-0;
                                font-size: 18px;
                                cursor: pointer;
                            }
                            span{
                                position: absolute;
                                top: 6%;
                                right: 11%;
                                background-color: $color-0;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                @include Flex($flex: flex, $direction: column, $justfyContent: center, $alignItems: center, $gap: 20px);
                                color: white;
                            }
                        }
                    }
                }
                
            }
        }
    }
