footer {
    .quation_border {
        border-bottom: 1px solid $color-5;
        .questions {
            @include Width();
            @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 20px);
            padding: 50px 0;

            .questions_item_one {
                width: 70%;
                @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 20px);

                h2 {
                    font-size: 40px;
                    font-family: 'Lexend';
                    line-height: 1.3em;
                }

                button {
                    @include Button2();
                    font-weight: 700;
                }
            }

            .questions_item_two {
                @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: start, $gap: 20px);

                .questions_info {
                    @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 20px);

                    h5 {
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Lexend';
                        line-height: 1.2em;
                    }

                    p {
                        color: $color-4;
                        width: 100%;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        color: $color-0;
                        font-size: 14px;
                        font-family: 'Lexend Deca';
                        cursor: pointer;

                        &:hover {
                            color: $color-2;
                        }
                    }
                }
            }
        }
    }
    .quation_border{
        .listBoxes{
            @include Width();
            @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: start, $gap: 2%);
            padding: 50px 0;
            
            .listBox{
                @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 20px);
                width: 20%;
                h5{
                    font-size: 20px;
                    font-family: 'Lexend';
                    line-height: 1.2em;
                    font-weight: 500;
                }
                ul{
                    @include Flex($direction: column,$justfyContent: start, $alignItems: start, $gap: 8px);
                    li{
                        a{
                            font-size: 15px;
                            color: $color-1;
                            font-family: 'Hind';
                        }
                        address{
                            width: 90%;
                            font-size: 15px;
                            color: $color-1;
                            font-family: 'Hind';
                        }
                        .footer_icon{
                            margin-top: 18%;
                            @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 20px);
                            a{
                                i{
                                    color: $color-0;
                                    font-size: 18px;
                                    &:hover{
                                        color: $color-2;
                                    }
                                }
                            }
                        }
                        input{
                            width: 350px;
                            padding: 15px 12px;
                            border: 1px solid #dddddd;
                        }
                        button{
                            @include Button2();
                            font-size: 15px;
                            font-family: 'Lexend Deca',sans-serif;
                            font-weight: 400;
                            margin-top: 20px;
                        }
                        
                        
                        
                    }
                }
            }
            
        }
    }

    .copyright{
        @include Width();
        padding: 40px 0;
        p{
            color: rgba(59, 59, 59, 0.6);
            font-size: 15px;
            font-family: 'Hind';
        }
    }
}