.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);


    @include Tablet() {
        width: 80%;
        margin: 30px auto;
        padding: 1.2rem;
    }

    @include Mobile() {
        width: 95%;
        margin: 20px auto;
    }


    form {
        margin: 0 2rem;

        @include Tablet() {
            margin: 0 1.5rem;
        }

        @include Mobile() {
            margin: 0 1rem;
        }

        .messageDiv {
            background-color: hsl(327, 90%, 28%);
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            font-size: 1rem;
            opacity: 0;
            animation: fadeOut 7s forwards;
        }

        .input-group {
            padding: 1% 0;
            position: relative;

            i {
                position: absolute;
                color: black;
            }

            input {
                color: inherit;
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #757575;
                padding-left: 1.5rem;
                font-size: 15px;

                &:focus {
                    background-color: transparent;
                    outline: transparent;
                    border-bottom: 2px solid hsl(327, 90%, 28%);
                }

                &::placeholder {
                    color: transparent;
                }
            }

            label {
                color: #757575;
                position: relative;
                left: 1.2em;
                top: -1.3em;
                cursor: auto;
                transition: 0.3s ease all;
            }

            input:focus~label,
            input:not(:placeholder-shown)~label {
                top: -3em;
                color: hsl(327, 90%, 28%);
                font-size: 15px;
            }
        }

        .recover {
            text-align: right;
            font-size: 1rem;
            margin-bottom: 1rem;

            a {
                text-decoration: none;
                color: rgb(125, 125, 235);

                &:hover {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .form-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1.3rem;
        margin-bottom: 0.4rem;
    }

    button {
        font-size: 1.1rem;
        padding: 8px 0;
        border-radius: 5px;
        outline: none;
        border: none;
        width: 100%;
        background: rgb(125, 125, 235);
        color: white;
        cursor: pointer;
        transition: 0.9s;

        &:hover {
            background: #07001f;
        }
    }

    .or {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    .icons {
        text-align: center;

        i {
            color: rgb(125, 125, 235);
            padding: 0.8rem 1.5rem;
            border-radius: 10px;
            font-size: 1.5rem;
            cursor: pointer;
            border: 2px solid #dfe9f5;
            margin: 0 15px;
            transition: 1s;

            &:hover {
                background: #07001f;
                font-size: 1.6rem;
                border: 2px solid rgb(125, 125, 235);
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-around;
        padding: 0 4rem;
        margin-top: 0.9rem;
        font-weight: bold;

        @include Tablet() {
            padding: 0 2rem;
        }

        @include Mobile() {
            padding: 0 1rem;
        }

        #signInButton {
            color: rgb(125, 125, 235);
            border: none;
            background-color: transparent;
            font-size: 1rem;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
                color: blue;
            }
        }

        #signUpButton {
            color: rgb(125, 125, 235);
            border: none;
            background-color: transparent;
            font-size: 1rem;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
                color: blue;
            }
        }
    }
}