main {
    padding: 50px 0;

    .container {
        @include Width($width: 85%);
        background-color: white;
        padding: 70px;
        @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 30px);

        .viewCart {
            background-color: $color-5;
            width: 100%;
            padding: 20px;
            border-top: 3px solid black;
            @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: start, $gap: 0);

            .check {
                @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 10px);

                i {
                    width: 15px;
                    height: 15px;
                    background-color: $color-1;
                    font-size: 12px;
                    color: white;
                    border-radius: 50%;
                    @include Flex($flex: flex, $direction: row, $justfyContent: center, $alignItems: center, $gap: 0);
                }

                p {
                    @include Font($size: 15px, $weight: 400, $lineHeight: 1em);
                    color: $color-1;
                    font-family: 'Hind', sans-serif;

                }
            }

            button {
                @include Button2();
            }
        }

        .productView {
            @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: start, $gap: 0);

            .product {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .productInfo {
                width: 47%;
                @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 20px);

                .categoryNav {
                    nav {
                        @include Font($size: 13px, $weight: 400, $lineHeight: 1em);
                        color: $color-4;
                        font-family: 'Hind', sans-serif;

                        a {
                            @include Font($size: 13px, $weight: 400, $lineHeight: 1em);
                            color: $color-4;
                            font-family: 'Hind', sans-serif;

                        }
                    }
                }

                .productName {
                    @include Font($size: 16px, $weight: 400, $lineHeight: 1.2em);
                }

                .productPrice {
                    p {
                        font-family: 'Hind', sans-serif;
                        @include Font($size: 23px, $weight: 600, $lineHeight: 1em);
                        color: $color-4;

                        span {
                            font-size: 15px;
                        }

                    }
                }

                .productDesc {
                    p {
                        @include Font($size: 16px, $weight: 400, $lineHeight: 1.5em);
                        color: $color-1;
                    }
                }

                .productCount {
                    border-bottom: 1px solid $color-5;
                    padding-bottom: 20px;
                    width: 100%;
                    @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 50px);

                    .count {
                        @include Flex($flex: flex, $direction: row, $justfyContent: center, $alignItems: center, $gap: 10px);
                        border: 1px solid black;
                        padding: 10px;

                        p {
                            @include Font($size: 16px, $weight: 400, $lineHeight: 1em);
                            color: $color-1;

                        }

                        .countBtn {
                            @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 0px);

                            i {
                                font-size: 10px;
                                color: $color-1;

                                &:hover {
                                    color: $color-4;
                                }
                            }

                            opacity: 0;
                        }

                        &:hover .countBtn {
                            opacity: 1;
                        }
                    }

                    button {
                        border: none;
                        background-color: $color-0;
                        padding: 15px 100px;
                        color: white;
                        @include Font($size: 18px, $weight: 500, $lineHeight: 1em);
                        cursor: pointer;

                        &:hover {
                            background-color: $color-2;
                        }

                    }
                }

                .category {
                    @include Font($size: 13px, $weight: 400, $lineHeight: 1em);
                    font-family: 'Hind', sans-serif;
                    color: $color-1;

                    a {
                        color: $color-4;
                    }

                }
            }
        }

        .productTab {
            padding-top: 20px;
            border-top: 1px solid $color-5;
            width: 100%;
            position: relative;
            nav {
                padding-bottom: 30px;
                ul {
                    @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 30px);
                    position: absolute;
                    top: 0;
                    li{
                        
                        padding-top: 10px ;
                        a{
                            @include Font($size: 15px,$weight: 700, $lineHeight: 1em);
                            font-family: 'Hind',sans-serif;
                            color: $color-1;
                        }
                        &.active{
                            border-top: 2px solid black;
                        }
                    }
                }
            }
            .subInfo{
                .desc{
                    display: none;
                    p{
                        @include Font($size: 15px,$weight: 500, $lineHeight: 1.4em);
                        font-family: 'Hind',sans-serif;
                        color: $color-1;
                    }
                }
                .size{
                    display: none;
                    .product-table {
                        width: 100%;
                        border-collapse: collapse;
                    }
                    
                    .product-table th,
                    .product-table td {
                        border: 1px solid #ddd;
                        padding: 8px;
                    }
                    
                    .product-table th {
                        background-color: #f2f2f2;
                        text-align: left;
                    }
                    
                    .product-table td {
                        text-align: center;
                    }
                }
                
                .reviews{
                    display: none;
                    .review-form {
                        background-color: #fff;
                        padding: 20px;
                        border: 1px solid #ddd;
                        width: 100%;
                        margin: auto;
                    }
                    
                    .review-form h3 {
                        font-size: 1.2em;
                        margin-bottom: 10px;
                    }
                    
                    .review-form p {
                        font-size: 0.9em;
                        color: #666;
                        margin-bottom: 20px;
                    }
                    
                    .review-form label {
                        display: block;
                        margin: 10px 0 5px;
                        font-weight: bold;
                    }
                    
                    .review-form .star-rating {
                        font-size: 1.5em;
                        color: #ddd;
                        cursor: pointer;
                    }
                    
                    
                    .review-form .star-rating i:hover  {
                        color: gold;
                    }
                    
                    .review-form textarea,
                    .review-form input[type="text"],
                    .review-form input[type="email"] {
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 20px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                    }
                    
                    .review-form .save-info {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    
                    .review-form .save-info input {
                        margin-right: 10px;
                    }
                    
                    .review-form button {
                        background-color: #8a9233;
                        color: white;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    
                    .review-form button:hover {
                        background-color: $color-2;
                    }
                }
                .active{
                    display: initial;
                }
            }
        }
    }
}