.cart-container {
    @include Width();
    margin: auto;
    padding: 70px;
    background-color: #fff;

    h1 {
        @include Font($size: 26px, $weight: 500, $lineHeight: 1.2em);
        margin-bottom: 50px;
    }

    .cart-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid $color-5;

        thead {
            background-color: $color-5;
            
            @include Font($size: 15px, $weight: 400, $lineHeight: 1em);
            font-family: 'Hind', sans-serif;
            th{
                padding: 30px;
            }
            @include Tablet(){
                display: none;
            }
        }

        th,
        td {
            text-align: left;
            padding: 10px;
            // border-bottom: 1px solid #ddd;
            @include Font($size: 15px, $weight: 400, $lineHeight: 1em);
            font-family: 'Hind', sans-serif;
        }
        td{
            .count {
                @include Flex($flex: flex, $direction: row, $justfyContent: center, $alignItems: center, $gap: 10px);
                border: 1px solid black;
                padding: 10px;
                width: 40px;
                height: 40px;

                p {
                    @include Font($size: 16px, $weight: 400, $lineHeight: 1em);
                    color: $color-1;

                }

                .countBtn {
                    @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 0px);

                    i {
                        font-size: 10px;
                        color: $color-1;

                        &:hover {
                            color: $color-4;
                        }
                    }

                    opacity: 0;
                }
                &:hover .countBtn {
                    opacity: 1;
                }
            }
        }

        .product-info {
            @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 50px);

            .remove-btn {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                background-color: transparent;
                border: 1px solid $color-5;
                @include Flex($flex: flex, $direction: row, $justfyContent: center, $alignItems: center, $gap: 0);
                color: $color-5;
            }

            .product-image {
                width: 70px;
                height: 70px;
                object-fit: cover;
            }

            span {
                @include Font($size: 15px, $weight: 400, $lineHeight: 1em);
                font-family: 'Hind', sans-serif;
            }
        }
    }
    .coupon-section {
        width: 100%;
        border: 1px solid $color-5;
        padding: 30px;
        @include  Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 0);
        input[type="text"] {
            padding: 10px;
            border: 1px solid $color-5;
            border-radius: 5px;
            outline: none;
        }
        button {
            @include Button2();
        }
        .apply-coupon {
            margin-left: 10px;
        }
        .update-cart {
            margin-left: auto;
        }
    }
    .cart-totals {
        border: 1px solid $color-5;
        background-color: #fff;
        width: 40%;
        margin-top: 50px;
        table {
            width: 100%;
            border-collapse: collapse;
            th {
                text-align: left;
                @include Font($size: 18px, $weight: 500, $lineHeight: 1em);
                padding: 20px;
                background-color: $color-5;
            }
            td {
                padding: 20px;
                @include Font($size: 15px, $weight: 400, $lineHeight: 1em);
                font-family: 'Hind',sans-serif;
            }
            tr{
                border: 1px solid $color-5;
            }
        }
        .checkout-btn {
            margin: 10px;
            width: 95%;
            text-align: center;
            @include Button2();
        }
    }
}









