.cart {
    background-color: white;
    padding: 20px;
    @include Width();

    h1 {
        text-align: center;
    }

    .cart-items {
        padding: 50px;

        @include Mobile() {
            padding: 10px;
        }

        .cart-item {
            @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 0);
            border-bottom: 1px solid #ddd;
            padding: 30px 0;

            @include Mobile() {
                flex-direction: column;
                // align-items: flex-start;
                gap: 20px;
            }

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                margin-right: 10px;
            }

            .item-details {
                @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 0);
                width: 100%;
                flex-wrap: wrap;

                @include Mobile() {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .product-name{
                    width: 220px;
                }
                .count {
                    @include Flex($flex: flex, $direction: row, $justfyContent: center, $alignItems: center, $gap: 10px);
                    border: 1px solid black;
                    padding: 10px;

                    p {
                        @include Font($size: 16px, $weight: 400, $lineHeight: 1em);
                        color: $color-1;

                    }

                    .countBtn {
                        @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: start, $gap: 0px);

                        i {
                            font-size: 10px;
                            color: $color-1;

                            &:hover {
                                color: $color-4;
                            }
                        }

                        opacity: 0;
                    }

                    &:hover .countBtn {
                        opacity: 1;
                    }
                }
                span {
                    margin: 5px;

                    @include Mobile() {
                        margin: 5px 0;
                    }
                }

                .product-quantity {
                    width: 50px;
                }
            }
        }
    }

    .coupon {
        @include Width();
        padding-left: 50px;
        @include Flex($flex: flex, $direction: row, $justfyContent: space-between, $alignItems: center, $gap: 0);

        @include Mobile() {
            padding-left: 0;
            @include Flex($flex: flex, $direction: column, $justfyContent: start, $alignItems: center, $gap: 20px);
        }

        input {
            padding: 10px;
            margin-right: 10px;
        }

        button {
            @include Button2();

            @include Mobile() {
                font-size: 10px;
                padding: 10px 20px !important;
            }
        }
        #updateCart:disabled {
            background-color: #d3d3d3; /* Light grey */
            color: #999999; /* Grey text */
            cursor: not-allowed;
        }

        .update-cart {
            text-align: right;
            margin-bottom: 20px;

            @include Mobile() {
                @include Flex($flex: flex, $direction: row, $justfyContent: start, $alignItems: center, $gap: 20px);
            }

            button {
                @include Button2();
            }
        }
    }

    .cart-totals {
        text-align: center;
        margin-top: 20px;

        span {
            display: block;
            margin: 10px 0;
        }

        button {
            @include Button2();
        }
    }
}
/* Modal CSS */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
